<%= render 'layouts/heading', heading: "Genres" %>

<!-- Add New Button-->
<div class="text-center mt-4">
  <%= link_to '<i class="fa-solid fa-plus"></i> New Genre'.html_safe, new_genre_path, class: "btn btn-xl btn-outline-primary" %>
</div>

<!-- Grid Items-->
<div class="row justify-content-center mt-5" id="genres">
  <% @genres.each do |genre| %>
    <%= render genre %>
  <% end %>
</div>