<div id="<%= dom_id track %>">
  <p>
    <strong>Position:</strong>
    <%= track.position %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= track.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= track.duration %>
  </p>

</div>
