<%= render 'layouts/heading', heading: "Artists" %>

<!-- Add New Button-->
<div class="text-center mt-4">
  <%= link_to '<i class="fa-solid fa-plus"></i> New Artist'.html_safe, new_artist_path, class: "btn btn-xl btn-outline-primary" %>
</div>

<!-- Grid Items-->
<div class="row justify-content-center mt-5" id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
  <% end %>
</div>
