<%= render 'layouts/heading', heading: "Editing Label" %>

<%= render "form", label: @label %>

<br>

<div>
  <%= link_to "Show this label", @label %> |
  <%= link_to "Back to labels", labels_path %>
</div>
