<%= render 'layouts/heading', heading: "Videos" %>

<!-- Add New Button-->
<div class="text-center mt-4">
  <%= link_to '<i class="fa-solid fa-plus"></i> New Label'.html_safe, new_video_path, class: "btn btn-xl btn-outline-primary" %>
</div>

<!-- Grid Items-->
<div class="row justify-content-center mt-5" id="videos">
  <% @videos.each do |video| %>
    <%= render video %>
  <% end %>
</div>