<section class="page-section tile">
  <div class="container">
    <!-- Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Entity Relationship Diagram (ERD)</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <%= image_tag("diagram.png", width: 600) %>

  </div>
</section>

