<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Discographer</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Import an artist or record label's entire discography from Discogs' API.</p>
    <p class="masthead-subheading font-weight-light mb-0">Import individual albums from Discogs' API.</p>
    <p></p>
    <p class="masthead-subheading font-weight-light mb-0">Every imported album contains:
      <ul class="list-group">
        <li class="list-group-item">Cover art</li>
        <li class="list-group-item">Embedded videos</li>
        <li class="list-group-item">Track listing</li>
        <li class="list-group-item">Genres</li>
        <li class="list-group-item">Artists</li>
        <li class="list-group-item">Associated labels and releases/reprints</li>
      </ul>
    </p>
    <%= link_to 'Get started...', {controller: "import", action: "index"}, class: "btn btn-md btn-secondary m-2" %>
  </div>
</header>