<%= render 'layouts/heading', heading: "Edit Release" %>
<p>Editing a release will associate the album with a record label.</p>

<%= render "form", release: @release %>

<br>

<div>
  <%= link_to "Show this release", @release %> |
  <%= link_to "Back to releases", releases_path %>
</div>
