<%= render 'layouts/heading', heading: "#{@header}" %>
<p>Adding a release will associate an album with a record label.</p>

<%= render "form", release: @release %>

<br>

<div>
  <%= link_to "Back to releases", releases_path %>
</div>
