<section class="page-section tile">
  <div class="container">

    <h1><%= @artist_name %></h1>
    <p><%= @artist_profile %></p>
    <p>Artist: <%= @object %></p>
    <p><%= @artist_image %></p>
  </div>
</section>