<%= render 'layouts/heading', heading: 'Test Connection' %>

<ul>
  <li>Use <a href="http://127.0.0.1:3000/">127.0.0.1</a> <strong>not</strong> localhost to prevent session issues
  </li>
  <li>Use active_record_store for session/cookies</li>
  <li>Create an app on Discogs.com via your developer settings</li>
  <li>Add your "Consumer Key" and "Consumer Secret" into /config/environment_variables.yml</li>
</ul>

<% if @discogs.authenticated? %>
  <ul>
    <li><a href="/tests/whoami">User information</a></li>
    <li><a href="/tests/artist">Display a single artist</a></li>
    <li><a href="/tests/artist_releases">Display an artist's releases</a></li>
  </ul>
<% else %>
  <a href="/tests/authenticate">Authenticate Discogs.com account</a>
<% end %>

