<p>artist: <%= @artist.name %></p>
<p>profile: <%= @artist.profile %></p>
<!--<p>artist_releases: <%#= @artist_releases %></p>-->
<p>release: <%= @release.title %></p>
<!--<p>label: <%#= @label %></p>-->