<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-12">
        <h4 class="text-uppercase mb-4">About</h4>
        <%= link_to '<p class="lead">About the Data</p>'.html_safe, about_path %>
        <%= link_to '<p class="lead">ERD</p>'.html_safe, erd_path %>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Chris Komus 2022</small></div>
</div>