<!-- Heading-->
<% if defined?(heading) %>
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"><%= heading %></h2>
<% end %>
<!-- Icon Divider-->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
  <div class="divider-custom-line"></div>
</div>